AGENTMAIL_API_KEY=<SECRET:AGENTMAIL_INBOX_SEND_KEY>
AGENTMAIL_INBOX_ID=wboke-5247@agentmail.to
RELAY_USERNAME=<SECRET:RELAY_USERNAME>
RELAY_PASSWORD=<SECRET:RELAY_PASSWORD_MIN_24_CHARS>
SMTP_PORT=2525
PORT=8080
